{% extends "layouts/base-fullscreen.html" %}
{% load static %}
{% load i18n %}

{% block head_title %}
{% translate "Sign Out" %}
{% endblock head_title %}
{% block content %}
<style>
  body {
    background-image: url({% static 'img/background4.jpg' %});
    /* Replace with your image file path */
    background-size: cover;
    /* Adjust how the image covers the body */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */
    background-attachment: fixed;
    /* Keep the background fixed while scrolling */
  }
</style>

<div class="content mt-5">
  <div class="container">
    <div class="row pt-5">
      <div class="col-md-6 mt-5 offset-4 pt-5">
        <div class="">
          <div class="card-header"><h1 class="card-title"><h1>{% translate "Sign Out" %}</h1></h1></div>
         <div class="card-body">
          <p>{% translate "Are you sure you want to sign out?" %}</p>
          <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="btn btn-danger" type="submit">{% translate "Sign Out" %}</button>
          </form>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}