{% extends "layoutss/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<style>
    .r {
    background-image: url({% static 'img/home-decor-2.jpg' %}); /* Replace with your image file path */
    background-size: cover; /* Adjust how the image covers the body */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
}
</style>
<div class="r content">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2 pt-2">
                <div class="">
                    <div><h1 class="text-secondary h1 mt-4">Unit/Department</h1></div>
                    <div class="">
                        
                            
                            
                            <!-- Dropdown button for create -->
                            <div class="dropdown">
                                <button class="btn btn-primary bg-gradient-dark mb-0 dropdown-toggle" type="button" id="createNewUnitDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Create New Unit
                                </button>
                                <div class="dropdown-menu" aria-labelledby="createNewUnitDropdown">
                                    <form class="px-4 py-3" action="{% url 'create_unit' %}" method="post">
                                        {% csrf_token %}
                                        {{ form.non_field_errors }}
                            
                                        <div class="form-group">
                                            <label for="{{ form.organization.id_for_label }}">Organization</label>
                                            <select class="form-control" name="{{ form.organization.name }}" id="{{ form.organization.id_for_label }}">
                                                {% for organization in user_organizations %}
                                                    <option value="{{ organization.id }}">{{ organization.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                            
                                        {{ form.title.label_tag }}
                                        {{ form.title }}
                                        {{ form.title.errors }}
                            
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    </form>
                                </div>
                            </div>
                            
                            <br>
                            <!-- Unit List -->
                            <ul class="list-inline">
                                {% for unit in units %}
                                <li class="list-group-item text-black-50">
                                    {{ unit.title }} |
                                    {{unit.organization}}
                                    <!-- Buttons for Detail, Update, and Delete -->
                                    <div>
                                    <button type="button" class="btn btn-primary btn-sm mr-5" data-toggle="modal" data-target="#detailModal{{ unit.id }}">Detail</button>
                                    <button type="button" class="btn btn-info btn-sm mr-5" data-toggle="modal" data-target="#updateModal{{ unit.id }}">Update</button>
                                    <button type="button" class="btn btn-danger btn-sm mr-5" data-toggle="modal" data-target="#deleteModal{{ unit.id }}">Delete</button>
                                    </div>
                                </li>
    
                        
                                <!-- Detail Modal -->
                                <div class="modal fade" id="detailModal{{ unit.id }}" tabindex="-1" role="dialog" aria-labelledby="detailModal{{ unit.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="detailModal{{ unit.id }}Label">Unit Detail</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Title: {{ unit.title }}</p>
                                                <p>Organization: {{ unit.organization }}</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Update Modal -->
                                <div class="modal fade" id="updateModal{{ unit.id }}" tabindex="-1" role="dialog" aria-labelledby="updateModal{{ unit.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="updateModal{{ unit.id }}Label">Update Unit</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form action="{% url 'update_unit' unit.id %}" method="post">
                                                    {% csrf_token %}
                                                    {{ form.non_field_errors }}
    
                                                    <div class="form-group">
                                                        <label for="{{ form.organization.id_for_label }}">Organization</label>
                                                        <select class="form-control" name="{{ form.organization.name }}" id="{{ form.organization.id_for_label }}">
                                                            {% for organization in user_organizations %}
                                                                <option value="{{ organization.id }}" {% if organization == unit.organization %}selected{% endif %}>{{ organization.name }}</option>
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                            
                                
                                                    <div class="form-group">
                                                        <label for="{{ form.title.id_for_label }}">Title</label>
                                                        <input type="text" class="form-control" name="{{ form.title.name }}" value="{{ unit.title }}">
                                                    </div>
                                
                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                <!-- Delete Modal -->
                                <div class="modal fade" id="deleteModal{{ unit.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModal{{ unit.id }}Label" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModal{{ unit.id }}Label">Confirm Delete Unit</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <p>Are you sure you want to delete the unit "{{ unit.title }}"?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <form action="{% url 'delete_unit' unit.id %}" method="post">
                                                    {% csrf_token %}
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        
                                {% endfor %}
                            </ul>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


