
    <div class="sidebar">
        <!--
          Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
      -->
        <div class="sidebar-wrapper">
            <div class="logo">
                <a href="javascript:void(0)" class="simple-text logo-mini">
                    Voteme
                </a>
                

            </div>
            <ul class="nav">
                
                <!-- <li class="{% if 'icons' in segment %} active {% endif %}">
                    <a href="/icons.html">
                        <i class="tim-icons icon-atom"></i>
                        <p>Icons</p>
                    </a>
                </li>
                 -->
                <!-- <li class="{% if 'tables' in segment %} active {% endif %}">
                    <a href="/tables.html">
                        <i class="tim-icons icon-puzzle-10"></i>
                        <p>Table List</p>
                    </a>
                </li>
                 -->
                
                
                {% if request.user.is_authenticated %}
                    
                <li>
                    <a href="{% url 'account_logout' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Logout</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'organization_list' %}">
                        <i class="tim-icons icon-bank"></i>
                        <p>Organization</p>
                    </a>
                </li>
                <li>
                    <a href="{% url 'unit' %}">
                        <i class="tim-icons icon-vector"></i>
                        <p>Unit</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <i class="tim-icons icon-app"></i>
                        <p >Election</p>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right">
                        <li>
                            <a href="{% url 'create_election' %}">
                                <i class="bg-dark tim-icons icon-bullet-list-67"></i>
                                <p class="text-black-50">Add New Election</p>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'elections' %}">
                                <i class="bg-dark tim-icons icon-bullet-list-67"></i>
                                <p class="text-black-50">Elections</p>
                            </a>
                        </li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'account_login' %}">
                        <i class="tim-icons icon-button-power"></i>
                        <p>Login</p>
                    </a>
                </li>
                
                {% endif %}
                
            </ul>
        </div>
    </div>
