{% extends "layoutss/base.html" %}

{% load crispy_forms_tags %}
{% load static %}
{% block title %}


  {{ user.name }}


{% endblock title %}
{% block content %}

<style>
  .r {
    background-image: url({% static 'img/ivancik.jpg' %}); /* Replace with your image file path */
    background-size: cover; /* Adjust how the image covers the div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
}
</style>
 

<div class="r" style="height: 600px;">
  <div class="content">
    <div class="row">
      <div class="col-md-5">
        <div class="card card-plain">
          <div class="container mt-5">
            <div class="">
              <h1>
            
            
                <p class="text-danger">{{ user.name }}</p>
              
              
            </h1>
            <div class="card card-inline">
              <div class="card-body">
                <form class="form-horizontal"
                  method="post"
                  action="{% url 'users:update' %}">
              {% csrf_token %}
              {{ form|crispy }}
              <div class="control-group">
                <div class="controls">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
              </div>
            </form>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
