{% extends "layoutss/base.html" %}

{% load static %}

{% block title %}
  User: 
  
    {{ object.name }}
  
  
{% endblock title %}
{% block content %}

<style>
  .r {
    background-image: url({% static 'img/election.jpg' %}); /* Replace with your image file path */
    background-size: cover; /* Adjust how the image covers the div */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed; /* Keep the background fixed while scrolling */
}
</style>
<div class="col-md-12">
  <p class="text-danger h2">Join or create new organization to have access to related elections...</p>
</div>
   <div class="r" style="height: 100vh;">
    <div class="col-md-7">
      <div class="container mt-5 offset-md-2">
        <div class="card card-plain">
          <div class="row">
            <div class="col-sm-12 mt-5">
    
           <p class="text-danger"> {% if object.name %}<p>{{ object.name }}</p>{% endif %}</p>
          </div>
        </div>
        {% if object == request.user %}
          <!-- Action buttons -->
          <div class="row">
            <div class="col-sm-12">
              <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">My Info</a>
              <a class="btn btn-primary"
                 href="{% url 'account_email' %}"
                 role="button">E-Mail</a>
              <!-- Your Stuff: Custom user template urls -->
            </div>
          </div>
        {% endif %}
        </div>
    </div>
    </div>
   </div>
   
      

   
  
{% endblock content %}
